*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
  --ff-primary: 'Roboto', 'sans-serif';

  --fc-text: #fff;
  --fc-table: #000;
  --fc-remove: #cd1111;
  --fc-green: #2ea650;
  --fc-visit: #15602a;
  --fc-twitter: #0a5876;
  --fc-gray: #525558;
  
  --fs-secondary: 1.6rem;
  --fs-primary: 2rem;
  --fs-small: 1.4rem;
  
  --bg-thead: #0b2766;
  --bg-body: linear-gradient(120deg, #08053c 0%, #05053b 25%, #0a3870 70%, #6a17b3 90%);
  --bg-error: #df2626;
  --bg-wrapper: #fff;
  --bg-even: #c7d9db;
  --bg-odd: #fff;
  --bg-scrollbar: radial-gradient(circle, rgba(19,72,228,1) 0%, rgba(180,92,178,1) 100%);
}

html{
  background: rgba(5,5,59,1);
}

body{
  background: var(--bg-body) no-repeat center/cover;
  color: var(--fc-text);
  min-width: 100vw;
  min-height: 100vh;
  font-family: var(--ff-primary);
  
}

.error{
  position: absolute;
  background-color: var(--bg-error);
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: var(--fs-secondary);
  color: var(--fc-text);
  padding: .8rem 0;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-30px);
  transition: transform 1s, font-size 1s;
}

.open{
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* Modal */
.modal-added, .modal-remove{
  display: none;
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0,0,0,0.4);
}

.modal-remove{
  display: none;
}


.modal-content{
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  width: clamp(200px, 100px + 25vw, 363px);
  height: 152px;
  background-color: var(--bg-wrapper);
  padding: 10px;
  color: #000;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  font-size: var(--fs-primary);
  transition: font-size 1s;
}

.modal-content .close{
  align-self: flex-end;
}

.modal-content .modal-text{
  text-align: center;
}

.modal-content .modal-text span{
  padding-bottom: 10px;
}

.remove-options{
  padding-top: 10px;
}

.added{
  display: flex;
  flex-direction: column;
  color: var(--fc-green);
  font-weight: bold;
}

.added img, .remove-options img{
  height: 50px;
}

#app{
  display: flex;
  padding: 5rem 2rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

/* HEADER */

header{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 2.5rem 0;
}

/* Form */
.search-bar{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#search-input{
  transition: font-size 1s;
  padding: 16px;
  width: clamp(12rem, 10rem + 20vw, 23rem);
  height: 4.8rem;
  border-radius: 5px;
  border: none;
  color: var(--fc-gray);
  font-size: var(--fs-secondary);
}

.add-button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: var(--fc-green);
  width: clamp(10rem, 10rem + 20vw, 15rem);
  height: 4.8rem;
  font-weight: 500;
  font-size: var(--fs-primary);
  color: var(--fc-text);
  transition: font-size 1s;
}

header , .search-bar{
  gap: 15px;
}
/*END HEADER*/

/* TABLE */
#table-control{
  display: flex;
  justify-content: center;
  width: 80%;
  overflow-y: hidden;
  overflow-x: hidden;
}

table{
  width: 100%;
  border-collapse: collapse;
  box-shadow: 1px 1px 20px #3e053d;
}

table *{
  font-size: var(--fs-secondary);
  transition: font-size 1s;
}

/* Table head */
thead{
  background: var(--bg-thead);
}

thead th{
  padding: 1.5rem;
  font-weight: 400;
  transition: padding 1s;
}

thead th span{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.user-head{
  justify-content: flex-start;
  padding-left: 5px;
}

thead th img{
  height: 2rem;
}


/* Table rows */
table tbody{
  border: 2px solid #3aacce;
}

tbody .no-user-wrapper{
  background-color: #05053b;
  height: 50vh;
}

tbody .no-user-content{
  display: flex;
    gap: 20px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

tbody .no-user-text{
  color: var(--fc-gray);
  font-size: clamp(1.4rem, 1rem + 5vw, 4rem);
}

tbody .no-user-content img{
  height: 20vh;
  width: 20vw;
}

tbody tr.body-row td{
  color: var(--fc-table);
  padding: 8px;
  text-align: center;
}

tbody tr.body-row:nth-child(even){
  background-color: var(--bg-even);
}

tbody tr.body-row:nth-child(odd){
  background-color: var(--bg-odd);
}

/* Table data */
tbody tr td.body-row:first-child{
  text-align: left;
}



tbody td.user-wrapper .user{
  display: flex;
  align-items: baseline;
  transition: flex-direction 1s;
  padding-top: 3px;
}

tbody td.user-wrapper .user a{
  text-decoration: none;
  color: var(--fc-table);
  padding: 5px;
}

tbody td.user-wrapper .user a p{
  font-weight: bold;
}

tbody td.user-wrapper img{
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  align-self: center;
}
/* END TABLE */

/* Actions */
.actions, .actions *, .actions-wrapper{
  display: flex;
}

.actions, .actions-wrapper{
  flex-direction: column;
}

.actions-wrapper{
  align-items: center;
}

.actions{
  gap: 2px;
}

.actions *{
  align-items: center;
  gap: 8px;
}

.remove img, .twitter img, .visit img{
  height: 24px;
}

.remove span, .twitter span, .visit span{
  font-weight: bold;
}

.remove{
  color: var(--fc-remove);
}

.visit{
  color: var(--fc-visit);
}

.twitter{
  color: var(--fc-twitter);
}

/* remove background */
.remove, .actions button{
  background: none;
  border: none;
  cursor: pointer;
}

/* hover */
tbody td.user-wrapper .user:hover{
  filter: drop-shadow(2px 4px 6px rgba(10,56,112,1));
}

.remove:hover, .visit:hover, .twitter:hover{
  filter: brightness(1.6);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #05053b;
  border-radius: 100vw;
  margin-block-start: 5em;
}

::-webkit-scrollbar-thumb {
  border-radius: 100vw;
  background: var(--bg-scrollbar);
}



/* Scrollbar support */
@supports (scrollbar-color: red blue){
  *{
    scrollbar-color: #1348e4 #05053b;
    scrollbar-width: thin;
  }
}


/* MEDIA QUERIES */ 
@media (max-width: 650px){
  #table-control{
    width: auto;
  }
  
  thead th{
    padding: 1rem 0.5rem;
    transition: padding 1s;
  }

  thead th span{
    flex-direction: column-reverse;
  }

  #search-input, .error, table *{
    font-size: var(--fs-small);
    transition: font-size 1s;
  }

  .modal-content, .add-button{
    font-size: var(--fs-secondary);
    transition: font-size 1s;
  }

  ::-webkit-scrollbar-track {
    margin-block-start: 6.3em;
  }
}

@media (max-width: 420px){
  .actions{
    padding: 5px;
  }

  .actions *{
    gap: 4px;
  }

  .actions-wrapper{
    margin-top: 13px;
  }

  tbody td.user-wrapper .user{
    flex-direction: column;
  }
  
  tbody tr td{
    padding: 2px;
    transition: padding 1s;
  }
  
  tbody tr td:first-child {
    text-align: center;
  }

  tbody tr.body-row td {
    padding: 2px;
}

tbody .no-user-content{
  flex-direction: column;
  gap: 0;
}

tbody .no-user-wrapper {
  height: 30vh;
}

}