*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
  --ff-primary: 'Roboto', 'sans-serif';

  --fc-text: #fff;
  --fc-table: #000;
  --fc-remove: red;
  --fc-green: #2ea650;
  --fc-twitter: blue;
  --fc-search-input: #525558;
  
  --fs-secondary: 1.6rem;
  --fs-primary: 2rem;
  
  --bg-th: #093a6c;
  --bg-body: linear-gradient(120deg, rgba(8,5,60,1) 0%, rgba(5,5,59,1) 26%, rgba(10,56,112,1) 70%, rgba(106,23,179,1) 93%);
  --bg-error: #df2626;
}

body{
  background: var(--bg-body) no-repeat center/cover;
  color: var(--fc-text);
  min-width: 100vw;
  min-height: 100vh;
  font-family: var(--ff-primary);
}

.error{
  position: absolute;
  background-color: var(--bg-error);
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: var(--fs-secondary);
  color: var(--fc-text);
  padding: .8rem 0;
  visibility: visible;
  opacity: 1;
  /*transform: translateY(-30px);
  transition: transform .5s*/
}

.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#app{
  
  display: flex;
  padding: 5rem 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* HEADER */

header{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 2.5rem 0;
}

/* Form */
.search-bar{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#search-input{
  padding: 16px;
  width: clamp(12rem, 10rem + 20vw, 23rem);
  height: 4.8rem;
  border-radius: 5px;
  border: none;
  color: var(--fc-search-input);
  font-size: var(--fs-secondary);
}

.add-button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: var(--fc-green);
  width: clamp(10rem, 10rem + 20vw, 15rem);
  height: 4.8rem;
  font-weight: 500;
  font-size: var(--fs-primary);
  color: var(--fc-text);
}

header , .search-bar{
  gap: 15px;
}
/*END HEADER*/

/* TABLE */
#table-control{
  display: flex;
  justify-content: center;
  width: 100%;
}

table{
  width: 100%;
  border-collapse: collapse;
  box-shadow: 1px 1px 20px #3e053d;
}

table *{
  font-size: var(--fs-secondary);
}

/* Table head */
thead th{
  padding: 1.5rem;
  font-weight: 400;
  transition: padding 1s;
}

thead th span{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

thead th img{
  height: 2rem;
}

thead th{
  background: var(--bg-th);
}

thead tr th:first-child{
  border-top-left-radius: .4rem;
}

thead tr th:last-child{
  border-top-left-radius: .4rem;
}

/* Table rows */
tbody tr td{
  color: var(--fc-table);
  padding: 1.5rem;
  text-align: center;

}
tbody tr:nth-child(even){
  background-color: rgb(137 182 201);
}

tbody tr:nth-child(odd){
  background-color: rgb(255, 255, 255);
}

/* Table data */
tbody tr td:first-child{
  text-align: left;
}

tbody td.user{
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
  transition: flex-direction 1s;
}

tbody td.user a{
  text-decoration: none;
  color: var(--fc-table);
}

tbody td.user a p{
  font-weight: bold;
}

tbody td.user img{
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}
/* END TABLE */

/* Functionalities */
.remove{
  background: none;
  border: none;
  font-weight: bold;
  color: #cd1111;
  cursor: pointer;
}


/* MEDIA QUERIES */ 
@media (max-width: 620px){
  thead th{
    padding: 1rem 0.5rem;
    transition: padding 1s;
  }

  thead th span{
    flex-direction: column-reverse;
  }
}

@media (max-width: 420px){
  tbody td.user{
    flex-direction: column;
    transition: flex-direction 1s;
  }
  
  tbody tr td{
    padding: 0.8rem;
    transition: padding 1s;
  }
  
  tbody tr td:first-child {
    text-align: center;
  }

}